services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    environment:
      CNN_WEIGHTS: src/fer/train/cnn_best_exp1.pt
      VIT_WEIGHTS: src/fer/train/vit_emotions.pt
      HF_HOME: /app/.hf_cache
    volumes:
      - hf_cache:/app/.hf_cache

volumes:
  hf_cache:
